<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>

			<!--      <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>-->
			<!--      <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>-->

			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="default_schema">dbo</property>

			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name='proxyfactory.factory_class'>NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
			<property name="connection.connection_string_name">MassTransit</property>
			<property name="connection.isolation">RepeatableRead</property>
			<property name="adonet.batch_size">100</property>
			<property name="show_sql">false</property>
			<property name="use_outer_join">true</property>
		</session-factory>
	</hibernate-configuration>
	<appSettings>
		<add key="HealthServiceEnabled" value="true" />
		<add key="HealthServiceControlUri" value="msmq://localhost/mt_health_control" />
		<add key="HealthServiceDataUri" value="msmq://localhost/mt_health" />
		<add key="SubscriptionServiceEnabled" value="true" />
		<add key="SubscriptionServiceUri" value="msmq://localhost/mt_subscriptions" />
		<add key="TimeoutServiceEnabled" value="true" />
		<add key="TimeoutServiceControlUri" value="msmq://localhost/mt_timeout_control" />
		<add key="TimeoutServiceDataUri" value="msmq://localhost/mt_timeout" />
	</appSettings>
	<connectionStrings>
		<add name="MassTransit"
         connectionString="Application Name=MassTransit Runtime Services;Connect Timeout=30;Connection Lifetime=300;Database=MassTransitRuntimeServices;Server=(local);Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
		<!--    <add name="MassTransit" connectionString="Data Source=MassTransit.RuntimeServices.sdf"/>-->
	</connectionStrings>
</configuration>