<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="MassTransit-Quartz" />
    <add key="quartz.scheduler.instanceId" value="AUTO" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="4" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <!-- Choose In-Memory or Database -->
    <!-- In-memory job store -->
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <!-- Database job store -->
    <!--    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />-->
    <!--    <add key="quartz.jobStore.useProperties" value="false" />-->
    <!-- Choose SQLite or SQL Server-->
    <!-- SQLite (need assemblies) -->
    <!--      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz"/>-->
    <!--      <add key="quartz.dataSource.quartzDS.provider" value="SQLite-10"/>-->
    <!--      <add key="quartz.dataSource.quartzDS.connectionString" value="Data Source=:memory:;Version=3;New=True;Pooling=True;Max Pool Size=1;" />-->
    <!-- SQL SERVER -->
    <!--    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />-->
    <!--    <add key="quartz.jobStore.clustered" value="true" />-->
    <!--    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />-->
    <!--    <add key="quartz.jobStore.dataSource" value="quartzDS" />-->
    <!--    <add key="quartz.dataSource.quartzDS.connectionString" value="Server=.;Database=quartz;Integrated Security=SSPI" />-->
    <!--    <add key="quartz.dataSource.quartzDS.provider" value="SqlServer-20" />-->
  </quartz>
  <appSettings>
    <add key="Scheme" value="rabbitmq" />
    <add key="RabbitMQHost" value="localhost" />
    <add key="RabbitMQVirtualHost" value="" />
    <add key="RabbitMQUsername" value="guest" />
    <add key="RabbitMQPassword" value="guest" />
    <add key="RabbitMQOptions" value="" />
    <add key="ControlQueueName" value="masstransit_quartz_scheduler" />
    <add key="ConsumerLimit" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
