<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1213" version="3.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net45" />
  <package id="Topshelf" version="4.0.1" targetFramework="net452" />
  <package id="Topshelf.Log4Net" version="4.0.1" targetFramework="net452" />
</packages>