<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SystemViewControlUri" value="msmq://localhost/mt_systemview_control" />
    <add key="SystemViewDataUri" value="msmq://localhost/mt_systemview" />
    <add key="SubscriptionServiceUri" value="msmq://localhost/mt_subscriptions" />
  </appSettings>
</configuration>