<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
  </configSections>

  <ShelfConfiguration Bootstrapper="StuffOnAShelf.AShelvedClock, StuffOnAShelf" />
  
  <appSettings>
    <add key="name" value="Coocoo" />

		<!-- There are several bad tidings that can be performed: failToCreate, failToStart, crashAfterStart -->
		<add key="badTidings" value="none" />
  </appSettings>
</configuration>