build_output/*
code_drop/*
*.suo
*.user

src/logs/*

**/*.sln*
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig

TestResult.xml
submit.xml
src/tests/*
SolutionVersion.cs
