build_output/*
build_artifacts/*
*.suo
*.user

NDependOut/*

src/logs/*

**/*.sln*
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig

TestResult.xml
submit.xml
tests/*
SolutionVersion.cs
src/SolutionVersion.cs
tests
doc/build/*
