build_output/*
code_drop/*

**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.resharper
*.cache
*~
*.swp
*.bak
*.orig

TestResult.xml
submit.xml
src/tests/*
SolutionVersion.cs
