<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="NuGet" value="https://www.nuget.org/api/v2/" />
    </packageSources>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
</configuration>