<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AhmedKhalil1212" value="https://ahmedkhalil1212.pkgs.visualstudio.com/_packaging/AhmedKhalil1212/nuget/v3/index.json" />
    <add key="MassTransit.Xml" value="http://sistemisvr3.iskraemeco.si:8080/tfs/defaultcollection/_packaging/MassTransit.Xml/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MySecureFeed>
      <add key="Username" value="ahmedkhalil1212" />
      <add key="ClearTextPassword" value="Microsoft@7031" />
    </MySecureFeed>
  </packageSourceCredentials>
</configuration>
