<?xml version="1.0" encoding="utf-8" ?>
<project name="BuildSettings">
  <!-- Project UppercuT - http://projectuppercut.org -->
  <!-- Learn how to edit this file at http://uppercut.pbwiki.com -->

  <!-- Required Items -->
  <property name="project.name" value="MassTransit" overwrite="false" />
  <property name="path_to_solution" value=".\src" overwrite="false" />
  <property name="repository.path" value="git://github.com/phatboyg/MassTransit.git" overwrite="false" />
  <property name="company.name" value="CFT &amp; ACM" overwrite="false" />
  <!-- folders -->
  <property name="folder.database" value="${project.name}.RuntimeServices.Database" overwrite="false" />
  <property name="folder.reports" value="${project.name}.Reports" overwrite="false" />
  <property name="folder.deployment" value="deployment" overwrite="false" />
  <property name="folder.documentation" value="docs" overwrite="false" />
  <property name="folder.references" value="lib" overwrite="false" />
  <property name="folder.build_scripts" value="build" overwrite="false" />
  <property name="folder.build_scripts_custom" value="build.custom" overwrite="false" />
  <property name="folder.code_build" value="build_output" overwrite="false" />
  <property name="folder.code_drop" value="code_drop" overwrite="false" />
  <property name="folder.app.drop" value="${project.name}" overwrite="false" />
  <property name="folder.environment_files" value="environment.files" overwrite="false" />
  <property name="folder.file_server" value="file.server" overwrite="false" />

  <!-- FRAMEWORKS -->
  <!-- microsoft.framework: vb6, net-1.1, net-2.0, net-3.5, net-4.0-beta2  -->
  <property name="microsoft.framework" value="net-3.5" overwrite="false" />
  <!-- language.short: vb,cs -->
  <property name="language.short" value="cs" overwrite="false" />
  <!-- test.framework: mbunit2, nunit, gallio - with gallio it must be installed in program files on every computer. Alternatively you can add 26MB to your repo and put it there. Little much for my tastes. -->
  <property name="test.framework" value="nunit" overwrite="false" />
  <!-- source_control_type: svn, vss, tfs, vault, git -->
  <property name="source_control_type" value="git" overwrite="false" />

  <!-- ASSEMBLY VARIABLES -->
  <property name="version.major" value="0" overwrite="false" />
  <property name="version.minor" value="8" overwrite="false" />
  <property name="assembly.description" value="${project.name} is a product of ${company.name}. See more at http://masstransit-project.com" overwrite="false" />
  <!-- partially trusted callers doesn't set correctly with assembly generator - Leave false for now-->
  <property name="allow.partially_trusted_callers" value="false" overwrite="false" />
  <property name="sign.project_with_key" value="false" overwrite="false" />
  <!-- To use relative pathing your projects all need to be at the same level. -->
  <property name="sign.key.use_relative_pathing" value="false" overwrite="false" />
  <property name="sign.key.relative_path_from_projects" value="..\..\" overwrite="false" />

  <!-- EXTERNAL TOOLS -->
  <!-- These are run two folders down from the top level folder, so figure out the relative path from there and add "..\..\" -->
  <!-- In example, if from the top level directory, you have an item that is in lib\NCover\NCover.Console.exe you should add it here as ..\..\lib\NCover\NCover.Console.exe  -->
  <!-- To not use the tool, change to a location that doesn't exist -->
  <property name="app.ncover" value="..\..\${folder.references}\NCover\NCover.Console.exe.turn_off" overwrite="false" />
  <property name="app.ncover_explorer" value="..\..\${folder.references}\NCover\NCoverExplorer.Console.exe" overwrite="false" />
  <property name="app.ncover.tester" value="..\..\${folder.references}\MbUnit2\MbUnit.Cons.exe" overwrite="false" if="${test.framework=='mbunit2'}" />
  <property name="app.ncover.tester" value="..\..\${folder.references}\NUnit\nunit-console.exe" overwrite="false" if="${test.framework=='nunit'}" />
  <property name="app.ncover.tester" value="C:\Program Files (x86)\Gallio\bin\Gallio.Host.exe" overwrite="false" if="${test.framework=='gallio'}" />
  <property name="app.ndepend" value="C:\Program Files\NDepend\NDepend.Console.exe" overwrite="false" />
  <property name="app.moma" value="..\..\${folder.references}\MoMA\MoMA.exe" overwrite="false" />

  <!-- COMPILE VARIABLES -->
  <property name="msbuild.configuration" value="Release" overwrite="false" />
  <property name="msbuild.platform" value="Any CPU" overwrite="false" />

  <!-- POLICIES -->
  <property name="file.installation_document" value="..\${folder.documentation}\Installation\${project.name}Installation.doc" overwrite="false" />
  <property name="fail.if_no_installation_document" value="false" overwrite="false" />

</project>