<?xml version="1.0" encoding="utf-8" ?>
<project name="BuildSettings">
  <!-- Project UppercuT - http://projectuppercut.org -->
  <!-- Learn how to edit this file at http://uppercut.pbwiki.com -->

  <!-- PROJECT VARIABLES -->
  <property name="project.name" value="__SOLUTION_NAME_WITHOUT_SLN_EXTENSION__" overwrite="false" />
  <property name="path_to_solution" value="." overwrite="false" />
  <property name="repository.path" value="__REPOSITORY_PATH__" overwrite="false" />
  <property name="company.name" value="__COMPANY_NAME__" overwrite="false" />
  <property name="dirs.db.project" value="__DATABASE_FOLDER_NAME__" overwrite="false" />
  <property name="dirs.report.project" value="__REPORT_PROJECT_FOLDER__" overwrite="false" />
  <property name="dirs.documentation" value="docs" overwrite="false" />
  <property name="app.drop.folder" value="app" overwrite="false" />

  <!-- FRAMEWORKS -->
  <!-- microsoft.framework: net-1.1,net-2.0,net-3.5  -->
  <property name="microsoft.framework" value="net-3.5" overwrite="false" />
  <!-- microsoft.framework: net-1.1,net-2.0,net-3.5  -->
  <!-- language.short: vb,cs -->
  <property name="language.short" value="cs" overwrite="false" />
  <!-- test.framework: mbunit2, nunit, gallio - with gallio it must be installed in program files on every computer. Alternatively you can add 26MB to your repo and put it there. Little much for my tastes. -->
  <property name="test.framework" value="mbunit2" overwrite="false" />
  <!-- source_control_type: svn, vss, tfs, vault, git -->
  <property name="source_control_type" value="svn" overwrite="false" />

  <!-- ASSEMBLY VARIABLES -->
  <property name="version.major" value="0" overwrite="false" />
  <property name="version.minor" value="0" overwrite="false" />
  <!-- partially trusted callers doesn't set correctly with assembly generator - Leave false for now-->
  <property name="allow.partially_trusted_callers" value="false" overwrite="false" />
  <property name="sign.project_with_key" value="false" overwrite="false" />

  <!-- EXTERNAL TOOLS -->
  <!-- To not use the tool, change to a location that doesn't exist -->
  <property name="app.ncover" value="..\..\lib\NCover\NCover.Console.exe" overwrite="false" />
  <property name="app.ncover_explorer" value="..\..\lib\NCover\NCoverExplorer.Console.exe" overwrite="false" />
  <property name="app.ncover.tester" value="..\..\lib\MbUnit2\MbUnit.Cons.exe" overwrite="false" />
  <!--<property name="app.ncover.tester" value="..\..\lib\NUnit\nunit-console.exe" overwrite="false" />-->
  <!--<property name="app.ncover.tester" value="C:\Program Files (x86)\Gallio\bin\Gallio.Host.exe" overwrite="false" />-->
  <property name="app.ndepend" value="C:\Program Files\NDepend\NDepend.Console.exe" overwrite="false" />

  <!-- COMPILE VARIABLES -->
  <property name="msbuild.configuration" value="Release" overwrite="false" />
  <property name="msbuild.platform" value="Any CPU" overwrite="false" />
  
  <!-- POLICIES -->
  <property name="file.installation_document" value="..\${dirs.documentation}\Installation\${project.name}Installation.doc" overwrite="false" />
  <property name="fail.if_no_installation_document" value="false" overwrite="false" />

</project>