<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SubscriptionServiceUri" value="msmq://localhost/mt_subscriptions"/>
    <add key="TimeoutServiceControlUri" value="msmq://localhost/mt_timeout_control"/>
    <add key="TimeoutServiceDataUri" value="msmq://localhost/mt_timeout"/>
  </appSettings>
  <connectionStrings>
    <add name="MassTransit"
       connectionString="Application Name=MassTransit Runtime Services;Connect Timeout=30;Connection Lifetime=300;Database=test;Server=.;Integrated Security=SSPI;"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>