<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SubscriptionServiceUri" value="msmq://localhost/mt_subscriptions" />
    <add key="TimeoutServiceControlUri" value="msmq://localhost/mt_timeout_control" />
    <add key="TimeoutServiceDataUri" value="msmq://localhost/mt_timeout" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MassTransit" connectionString="Application Name=MassTransit Runtime Services;Connect Timeout=30;Connection Lifetime=300;Database=test;Server=.;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>