<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Automatonymous" version="3.5.11" targetFramework="net452" />
  <package id="GreenPipes" version="1.0.9" targetFramework="net452" />
  <package id="NewId" version="3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="redis-inside" version="3.2.100.0" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.5.8" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.5.8" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.5.8" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="net452" />
  <package id="Shouldly" version="2.8.2" targetFramework="net452" />
</packages>