<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="environmentName" value="development" />
	</appSettings>
</configuration>
