<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="QuartzQueueName" value="masstransit_quartz_scheduler" />
    <add key="QuartzConsumerLimit" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>