<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached"
					 type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<add address="127.0.0.1"
					 port="11211" />
			</servers>
			<socketPool minPoolSize="10"
						maxPoolSize="100"
						connectionTimeout="00:10:00"
						deadTimeout="00:02:00" />
		</memcached>
	</enyim.com>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
