<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached"
					 type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<add address="127.0.0.1"
					 port="11211" />
			</servers>
			<socketPool minPoolSize="10"
						maxPoolSize="100"
						connectionTimeout="00:10:00"
						deadTimeout="00:02:00" />
		</memcached>
	</enyim.com>
</configuration>
