<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<masstransit>

		<endpoint name="Subscriptions">
			<uri>msmq://localhost/test_subscriptions"</uri>
		</endpoint>

		<endpoint name="Server">
			<uri>msmq://localhost/test_server</uri>
		</endpoint>

		<assembly name="MassTransit.ServiceBus">
			<endpoint-ref name="Subscriptions"/>
		</assembly>

		<assembly name="MassTransit.ServiceBus">
			<endpoint-ref name="Server" />
			<component name="MassTransit.ServiceBus.Subscriptions.SubscriptionManagerClient">
				<parameters>
					<managerEndpoint></managerEndpoint>
							</parameters>
			</component>
		</assembly>

	</masstransit>
</configuration>
